body {
        padding:100;
        font-size: 20px;
    }
    
    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 70px;
        text-align: center;
        text-transform: uppercase
     }
    
    h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
        font-weight: normal;
        text-align: center;
        margin: 10px 0 10px 0;
    }

h3 {
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: normal;
        text-align: left;
        margin-left: 300px;
        
    }

    p {
       font-family: 'Oswald:300', sans-serif;
        font-size: 18px;
        font-weight: normal;
        text-align: left;
        margin-left: 300px;
        margin-right: 300px;  
        
    }